@import 'partials/variables.scss';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/content';
@import 'partials/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  @include container;
}

